@model DocStorage.Models.User

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Войдите, чтобы воспользоваться функциями хранилища</legend>
        @if (Session["checkCorrect"] != null && !(bool)Session["checkCorrect"])
        {
            <p> Неверный логин или пароль.</p>
            Session["checkCorrect"] = null;
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Войти" />
        </p>
        @if (Session["CreateUsers"] == null)
        {
            @Html.ActionLink("Create Users", "CreateUsers", "Account")
        }
        else
        {
            if ((bool)Session["CreateUsers"] == false)
            {
                <p> Произошла ошибка добавления. Возможно, список уже добавлен.</p>
                Session["CreateUsers"] = null;
            }
            else
            {
                <p> Пользователи успешно добавлены.</p>
                Session["CreateUsers"] = null;
            }
        }

    </fieldset>
}